block variables
    - var user_name = 'Владимир Астаханов'
    - var site_description = 'Личный сайт веб разработчика'
    - var user_foto = "/assets/img/my_photo.jpg"
include mixins/icons.pug
doctype html
html
    head
        include common/head
    body
        .page-wrap(class='page-wrap_'+body_css)
            if page_type == 'index'
                a#autorisation.autorisation-target
            include common/header
            //include common/_my-infotmation
            if page_type!='index'
                div.content(class= "content_"+page_type)
                    block content
        include common/_blog
        include common/_footer
