block variables
- var user_name = 'Владимир Астаханов'
- var site_description = 'Личный сайт веб разработчика'
- var user_foto = "/assets/img/user-image-header.jpg"
- var navigation = {works: 'Мои работы', about: 'Обо мне', blog: 'Блог','index#autorisation':'Авторизация'}
- var navigation_index = {works: 'Мои работы', about: 'Обо мне', blog: 'Блог'}

include mixins/icons.pug
include mixins/menu.pug

doctype html
html
  head
    include common/head
  body
    .page-wrap(class='page-wrap_'+body_css)
      if page_type == 'index'
        a#login.login-target
      include common/_header
      .welcome
        include common/_welcome
        if page_type=='index'
          include common/_login
      if page_type!='index'
        div.content(class= "content_"+page_type)
          block content
    include common/_footer
