//footer
$footer_bg: #373e42;

$footer_box_border: #63686b;

$white: #fff;

$social_icon: #7f8386;

$footer_descript: #949799;

$footer_link_hover: #949799;

$footer_copyright: #859494;

// blog
$triangle_bg: #eee;

$tabs_link: #455a64;

$tabs_link_hover: #00bfa5;

$tabs_content_title: #455a64;

$tabs_content_date: #00bfa5;

$content_separation: #f1f1f2;
