//common
$main_theme_color: #00bfa5;  // login.html
$h1_color: #373e42;
$h2_color: #455a64;
$menu_item_color: #26c9b2;
$menu_item_hover: #26a69a;
$white: #fff;
//about
$dark_map_color: #61dac9;  //about.html
$light_map_color: #fff; //about.html
$main_background_about: #efeee9; //about.html
$skill_graph_color: #00bfa5; //about.html
$skill_graph_color_light: #dfdcd5;
$dark_background: #00bfa5;  //about.html
$about_block_left: #efeee9;
$about_block_right: #eeebdf;
$icon_about_header: #6d7070;
//map
$contacts_block_background: #fcfcfc;
$contacts_block_title: #373e42;
$contacts_icon_color: #00bea4;
//admin
$admin_menu_item: #f0efe9; //admin.html
$admin_menu_item_active: #fff; //admin.html
//blog
$light_code_snippet_color: #f5f2f0; // blog.html
$dark_code_snippet_color: #e7e5e3; // blog.html
$active_text_menu_color: #00bfa5; // blog.html
$main_content_text_color: #455a64; //  blog.html
//login
$icon_background_color: #f0efe9;  // login.html
$form_background_color: #fcfcfc;  // login.html
$input_form_background: #fff;  // login.html
//footer
$footer_bg: #373e42;
$footer_box_border: #63686b;
$white: #fff;
$social_icon: #7f8386;
$footer_descript: #949799;
$footer_link_hover: #949799;
$footer_copyright: #859494;
