//common
$mainThemeColorGreen: #00bfa5;  // login.html
$h1Color: #373e42;
$h2h3Color: #455a64;
$menuItemColorHover: #26a69a;
$menuItemColor: #26c9b2;
//about
$darkMapColor: #61dac9;  //about.html
$lightMapColor: #ffffff; //about.html
$mainBackgroundAbout: #efeee9; //about.html
$skillGraphColor: #00bfa5; //about.html
$darkBackground: #00bfa5;  //about.html
//admin
$noActiveMenuItem_admin: #f0efe9; //admin.html
$activeMenuItem_admin: #ffffff; //admin.html
//blog
$lightCodeSnippetColor: #f5f2f0; // blog.html
$darkCodeSnippetColor: #e7e5e3; // blog.html
$activeTextMenuColor: #00bfa5; // blog.html
$mainContentTextColor: #455a64; //  blog.html
//login
$iconBackgroundColor: #f0efe9;  // login.html
$formBackgroundColor: #fcfcfc;  // login.html
$inputFormBackground: #ffffff;  // login.html

