//about
$darkMapColor: #61dac9;
$lightMapColor: #ffffff;
$mainBackgroundAbout: #efeee9;
$h1Color: #373e42;
$h2h3Color: #455a64;
$skillGraphColor: #00bfa5;
$darkBackground: #00bfa5;
//admin
$noActiveMenuItem_admin: #f0efe9;
$activeMenuItem_admin: #ffffff;
//blog
$lightCodeSnippetColor: #f5f2f0;
$darkCodeSnippetColor: #e7e5e3;
$activeTextMenuColor: #00bfa5;
$mainContentTextColor: #455a64;
//login
$menuItemColorHover:#26a69a;
$menuItemColor: #26c9b2;
$iconBackgroundColor: #f0efe9;
$formBackgroundColor: #fcfcfc;
$inputFormBackground: #ffffff;
$mainThemeColorGreen: #00bfa5;
//welcome
$menuItemColorHover: #26a69a;
$menuItemColor: #26c9b2;
$h2h3Color : #455a64;
//works
$h1Color: #373e42;
$h2h3Color: #455a64;
$menuItemColorHover: #26a69a;
$menuItemColor: #26c9b2;