footer.footer
  .footer__box
    .footer__box-container
      .footer__menu-wrapper
        nav.main-menu
          ul.main-menu__list
            li.main-menu__item
              a(href="#", class="main-menu__link") Мои работы
            li.main-menu__item
              a(href="#", class="main-menu__link") Блог
            li.main-menu__item
              a(href="#", class="main-menu__link") Обо мне
            li.main-menu__item
              a(href="#", class="main-menu__link") Авторизация
      .social-links__wrapper
        ul.social-links
          li.social-links__item
            a(href="https://vk.com/", class="social-links__link", target="_blank")
              +icon('vk_round')
          li.social-links__item
            a(href="https://github.com/", class="social-links__link", target="_blank")
              +icon('github_round')
          li.social-links__item
            a(href="https://www.linkedin.com/", class="social-links__link", target="_blank")
              +icon('in_round')
  .footer__box
    .footer__box-container
      .footer__descript Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
      .footer__copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016
