.social-links(class= 'social-links-wrapper--'+social_mod)
  ul.social-links__list
    li.social-links__item
      a.social-links__link(href="https://vk.com/", class="social-links__item-link", target="_blank")
        span.ocial-links__text vk.com
        +icon('vk','social-links__icon')
    li.social-links__item
      a.social-links__link(href="https://github.com/", class="social-links__item-link", target="_blank")
        span.social-links__text github.com
        +icon('github','social-links__icon')
    li.social-links__item
      a.social-links__link(href="https://www.linkedin.com/", class="social-links__item-link", target="_blank")
        span.social-links__text linkedin.com
        +icon('in','social-links__icon')
