include ../mixins/_slider

section.slider
	.slider__container
		+sliderWorks(["work-1.png", "work-2.png", "work-3.png", "work-4.png"])

		.slider__control
			a(href="#").slider__control-left
				svg
					use(xlink:href='assets/img/sprite.svg#arrow_up')
			a(href="#").slider__control-right
				svg
					use(xlink:href='assets/img/sprite.svg#arrow_down')