.footer{
  height: 147px;
  background: rgba($footer_bg,.8);
}
.footer__menu-wrapper{
  float: left;
}
.footer__box{
  overflow: hidden;
  height: 72px;
  border-bottom: 1px solid $footer_box_border;
}
.footer__box-container{
  margin: 0 30px;
}
.main-menu__list,.social-links{
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-menu__item{
  float: left;
  margin-right: 40px;
}
.main-menu__item:last-child{
  margin-right: 0;
}
.main-menu__link{
  color: $white;
  font-size: 16px;
  font-weight: 500;
  line-height: 75px;
  text-decoration: none;
  &:hover{
    color: $footer_link_hover;
  }
}
.social-links__text{
  color: $white;
}
.footer__descript{
  float: left;
  font-size: 16px;
  line-height: 23px;
  color: $footer_descript;
  max-width: 500px;
  margin-top: 12px;
}
.footer__copyright{
  float: right;
  font-size: 16px;
  color: $footer_copyright;
  margin-top: 28px;
}
