.social-links__wrapper{
  float: right;
  margin: 17px -5px 0 0;
}
.social-links__item{
  float: left;
  margin: 0 5px 5px;
}
.icon-vk_round,.icon-github_round,.icon-in_round{
  fill: $social_icon;
  &:hover{
    fill: $white;
    transition: all linear 0.3s;
  }
}
.icon-vk_round{
  width: 36px;
  height: 36px;
}
.icon-github_round{
  width: 36px;
  height: 36px;
}
.icon-in_round{
  width: 36px;
  height: 36px;
}