.welcome {
  background: url('/assets/img/1200x500-header-bg.jpg') 100% 100% no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  z-index: -1;
}

.my-information {
  color: $white;
  height: 400px;
  left: 50%;
  margin: -200px 0 0 -200px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 400px;
}

.my-foto {
  border-radius: 50%;
  height: 150px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  width: 150px;
}

.my-foto__logo-img {
  width: 100%;
}

.my-information__text {
  font-family: Roboto-Medium;
  font-size: 2rem;
  margin-top: 1rem;
 }

.my-information__description {
  font-family: Roboto-Light;
  font-size: 1rem;
  margin-top: .5rem;
}

.arrow-down-wrapper {
  height: 25px;
  margin: auto;
  margin-top: 6rem;
  position: relative;
  width: 25px;
}

.link-text {
  left: 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
}

.icon-arrow-down {
  color: $white;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

