mixin sliderWorks(workImages, itemActive)

  ul.slider__list
    each workImage in workImages
      li.slider__item
        .slider__left
          img(src="assets/img/" + workImage, alt="works")
        .slider__right
          .slider__cotent
            h3.slider__title Сайт школы онлайн Образования
            ul.slider__skill-list
              li.slier__skill-item HTML
              li.slier__skill-item CSS
              li.slier__skill-item JAVASCRIPT
            .slider__button
              a(href="#" target="_blank").slider__button-text Посмотреть сайт