extends ../_template

block variables
  - var title = 'Обо мне'
  - var descrption = 'Обо мне'
  - var page_type = 'about'
  - var description = 'Страница Обо мне общего проекта'
  - var keywords = 'Страница Обо мне общего проекта'
block content
  include ../common/_about_block
  include ../common/_map
