extends ../_template
block variables
  - var title = 'Home page'
  - var descrption = 'Home page'
  - var page_type = 'index'
  - var description = 'Стартовая страница общего проекта'
  - var keywords = 'Стартовая страница общего проекта'