extends ../_template

block variables
  - var title = 'Мои работы'
  - var descrption = 'Мои работы'
  - var page_type = 'work'
  - var description = 'Страница Мои работы общего проекта'
  - var keywords = 'Страница Мои работы общего проекта'
block content
  include ../common/slider
